@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

.container {
  display: flex;
}

.logo {
  margin-left: 25px;
  font-weight: bold;
  color: rgb(69, 137, 76);

}

.navbar {
  padding: 10px;
  background-color: rgb(202, 179, 179) !important;
}

.nav-menu {
  padding: 5px;
  font-weight: 500;

}

.search-bar {
  display: flex;
  align-items: center;
}

.search-button {
  border-radius: 40px;
  background-color: rgb(198, 178, 151);
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.ict {
  display: flex;
  background-color: blueviolet;
  border-radius: 30pt;
  padding: 25px;
  margin: 50px;
  flex-wrap: wrap;
  width:60%;
}


.yrp {
  margin: 40px;
}





.UPF {
  background-color: skyblue;
  justify-content:first baseline;
  height: 30vh;
  border-radius: 35px;
  padding: 15px;

}

.ssb {
  border-radius: 40px;
  width: fit-content;
  justify-content:last baseline;
}

.ft{
  margin-left: 25px;
}